* {
  font-family: "proxima-nova",sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

body {
  /*background: hsl(0, 2%, 100%);*/
  /*background: #F6F9FC;*/
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  width: 83vw;
  margin: 0px 20px;
}

.content .header {
  margin: 20px;
  min-height: 160px;
  color: #4A4A4A;
}

.content .header h3 {
  font-weight: 500;
  margin-bottom: 6px;
  font-size: 1.5em;
}

.content .header span {
  margin-bottom: 8px;
  color: #7b7b7b; 
}

.nav-action {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 40px;
}

.nav-action:hover {
  cursor: pointer;
    -moz-transform: 300ms ease all(60deg);
    -webkit-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}
.nav-action:not(:hover) {
  cursor: pointer;
    -moz-transform: 300ms ease all(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
}

.nav {
  /* display: none; */
  width: 17vw;
  height: 100vh;
  background: #5A747F; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #29abe2 0%, #3C4572 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #29abe2 0%,#3C4572 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #29abe2 0%,#3C4572 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe2', endColorstr='#00ffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.nav-container {
  margin-left: 34px;
}

.nav img {
  padding-top: 30px;
  display: block;
}

.nav .tags {
  margin-top: 50px;
}

.nav .tags li {
  list-style: none;
  color: white;
  font-weight: 200;
  margin-bottom: 5px;
  font-size: 1rem;
  padding-bottom: 15px;
  cursor: pointer;
}

.article-container {
  display: flex;
  flex-wrap: wrap;
}

.article-header {
  font-weight: 300;
  font-size: 0.9rem;
  margin: 0px 20px;
  /* color: #29abe2; */
}

.article {
  margin: 20px;
  width: 20%;
  cursor: pointer;
  border: 1px rgba(0, 0, 0, 0.06) solid;
  padding: 15px 15px 0 15px;
  box-sizing: border-box;
  /*box-shadow: rgba(50,50,93,.0980392) 1px 1px 14px 0px, rgba(0,0,0,.0666667) 0 5px 15px;*/
  /*rgba(50, 50, 93, 0.02) 6px 7px 0px 1px, rgba(0,0,0,.0666667) 0 5px 15px*/
}
 
.temp-img {
  height: 150px;
  margin: 0;
  overflow: hidden;
}

.article-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}
/* .temp-img img {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
} */

.title {
  padding: 25px 0px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.9rem;
  /*overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;*/
}

@media (max-width: 1500px) {
  /* .nav {
    width: 30vw;
  }
  .articles {
    width: 70vw;
    margin: 1rem 4rem 0rem 4rem;
  }  */
  .article {
     width: 25%;
  }
}

@media (max-width: 1250px) {
  .article {
     width: 30%;
  }
}

@media (max-width: 1100px) {

  .article {
     width: 40%;
  }
}

@media (max-width: 900px) {
  .nav {
    width: 40vw;
  }
  .articles {
    width: 60vw;
    margin: 1rem 4rem 0rem 4rem;
  } 
  .article {
     width: 100%;
  }
}